In [1]:
import pandas as pd
import numpy as np
titanic_survival = pd.read_csv('./data/titanic_train.csv')
print(titanic_survival.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

处理年龄缺失的数据

In [7]:
age = titanic_survival['Age']
#print(age.loc[0:10])
age_null = pd.isnull(age)
#print(age_null)
age_null_true = age[age_null]
#print(age_null_true)
age_null_count = len(age_null_true)
print(age_null_count)

177

In [8]:
mean_age = sum(titanic_survival['Age'])/len(titanic_survival['Age'])
print(mean_age)

nan

In [11]:
good_ages = titanic_survival['Age'][age_null==False] 
correct_mean_age = sum(good_ages)/len(good_ages)
print(correct_mean_age)

29.69911764705882

In [12]:
mean_Age = titanic_survival['Age'].mean()
print(mean_Age)

29.69911764705882

In [16]:
passenger_survival = titanic_survival.pivot_table(index = 'Pclass',values = 'Survived',aggfunc = np.mean)
print(passenger_survival)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [15]:
passenger_age = titanic_survival.pivot_table(index = 'Pclass',values = 'Age',aggfunc = np.mean)
print(passenger_age)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [18]:
passenger_stats = titanic_survival.pivot_table(index = 'Embarked',values = ['Fare','Survived'],aggfunc = np.mean)
print(passenger_stats)

               Fare  Survived
Embarked
C         59.954144  0.553571
Q         13.276030  0.389610
S         27.079812  0.336957

* 丢弃带有缺失值的列

In [23]:
drop_na_columns = titanic_survival.dropna(axis=1)
#print(drop_na_columns.head(3))
new_titanic_survival = titanic_survival.dropna(axis=0,subset=['Age','Sex'])
print(new_titanic_survival.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [24]:
row_index_value = titanic_survival.loc[2,'Age']
print(row_index_value)

26.0

In [26]:
new_titanic_survival = titanic_survival.sort_values('Age',ascending=False)
print(new_titanic_survival.head(5))
print('--------------------------')
new_titanic_survival = new_titanic_survival.reset_index(drop=True)
print(new_titanic_survival.head(5))

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick

      Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
630  male  80.0      0      0     27042  30.0000   A23        S
851  male  74.0      0      0    347060   7.7750   NaN        S
493  male  71.0      0      0  PC 17609  49.5042   NaN        C
96   male  71.0      0      0  PC 17754  34.6542    A5        C
116  male  70.5      0      0    370369   7.7500   NaN        Q
--------------------------
   PassengerId  Survived  Pclass                                  Name   Sex  \
0          631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1          852         0       3                   Svensson, Mr. Johan  male
2          494         0       1               Artagaveytia, Mr. Ramon  male
3           97         0       1             Goldschmidt, Mr. George B  male
4          117         0       3                  Connors, Mr. Patrick  male

    Age  SibSp  Parch    Ticket     Fare Cabin Embarked
0  80.0      0      0     27042  30.0000   A23        S
1  74.0      0      0    347060   7.7750   NaN        S
2  71.0      0      0  PC 17609  49.5042   NaN        C
3  71.0      0      0  PC 17754  34.6542    A5        C
4  70.5      0      0    370369   7.7500   NaN        Q