In [1]:
import pandas as pd
import numpy as np
titanic_survival = pd.read_csv('./data/titanic_train.csv')
print(titanic_survival.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
def generate_age_label(row):
    age = row['Age']
    if pd.isnull(age):
        return 'unknown'
    elif age < 18:
        return 'child'
    else:
        return 'adult'
age_labels = titanic_survival.apply(generate_age_label,axis=1)
print(age_labels.head(10))

0      adult
1      adult
2      adult
3      adult
4      adult
5    unknown
6      adult
7      child
8      adult
9      child
dtype: object

In [7]:
titanic_survival['age_labels'] = age_labels
age_group_survival = titanic_survival.pivot_table(index='age_labels',values='Survived')
print(age_group_survival)

            Survived
age_labels
adult       0.381032
child       0.539823
unknown     0.293785